<div id="wrapper">
  <div id="header">
    <ul class="nav-item">
      <li class="drop file-menu-trigger">
        <span>File</span>
        <ul id="file-menu" class="dropdown file-menu-trigger">
          <li>new</li>
          <li>exit</li>
        </ul>
      </li>
      <li class="drop">Session</li>
      <li class="drop">Help</li>
    </ul>
  </div>
  <div id="container">
    <div id="main"></div>
    <div id="sidebar">Scene</div>
  </div>
  <div id="footer">
    <ul class="nav-item">
      <li class="drop view-menu-trigger">
        <span>View</span>
        <ul id="view-menu" class="dropup view-menu-trigger">
          <li>top</li>
          <li>front</li>
          <li>side</li>
          <li>defoult</li>
        </ul>
      </li>
      <li class="drop add-menu-trigger">
        <span>Add</span>
        <ul id="add-menu" class="dropup add-menu-trigger">
          <li id="cube">cube</li>
          <li id="plane">plane</li>
          <li id="cylinder">cylinder</li>
          <li id="sphere">sphere</li>
          <li id="pointlight">pointlight</li>
          <li id="directionalLight">directionlight</li>
          <li id="spotlight">spotlight</li>
        </ul>
      </li>
    </ul>
    <ul class="nav-item">
      <li class="transform">translate</li>
      <li class="transform">scale</li>
      <li class="transform">rotate</li>
    </ul>
  </div>
</div>
<%= javascript_include_tag 'Threesessions', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'client', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'select', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'view', 'data-turbolinks-track': 'reload' %>
