// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper{
  height: 100%;
}

#header{
  height: 5%;
  background-color: #272822;
}

#container{
  height :90%;
  background-color:#272822;
}

#sidebar{
  font-size: 20px;
  width: 15%;
  height: 100%;
  float: right;
  background-color: #2B2B2B;
}

#main{
  width: 85%;
  height: 100%;
  text-align: center;
  float: left;
}

#footer{
  height: 5%;
  width: 100%;
  background-color: #272822;
  position:absolute;
  bottom:0;
}

.nav-item {
  list-style: none;
  color: orange;
  margin: 0 10px 0 10px;
  padding: 0;
}

.drop {
  float:left;
  margin-right:10px;
  position: relative;
  display: inline-block;
}

.dropup{
  list-style-type:none;
  display: none;
  position:absolute;
  top:-195px;
  background-color: #2B2B2B;
  min-width: 50px;
  height:170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown {
  list-style-type:none;
  display: none;
  position:absolute;
  background-color: #2B2B2B;
  min-width: 50px;
  max-height: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.transform{
  float:left;
  color: rgb(0, 150, 101);
  margin-right:10px;
}

#sidebar {
  color: rgb(0, 150, 101);
}
